@charset "UTF-8";

#navExample {
	background-color: light-gray;
}

.main-section {
	margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.entity-container {
	width: 18%;
    margin: 10px;
    border: 1px solid lightblue;
    border-radius: 6px;
}

.entity-content {
	padding: 0px 10px 10px;
}

.entity-container:hover {
	box-shadow: 2px 2px lightblue;
	background-color: #EEF2F2;
}

.entity-card-image {
	background-size: cover;
    background-repeat: no-repeat;
}

.entity-title {
	text-align: center;
}

@media only screen and (max-width: 1620px) {
	.entity-container {
	width: 23%;

	}
}

@media only screen and (max-width: 1340px) {
	.entity-container {
	width: 31%;

	}
}

@media only screen and (max-width: 950px) {
	.entity-container {
	width: 45%;

	}
}

@media only screen and (max-width: 500px) {
	.entity-container {
	width: 65%;

	}
}

@media only screen and (max-width: 390px) {
	.entity-container {
	width: 87%;

	}
}