@charset "UTF-8";

#navExample {
	background-color: light-gray;
}

.main-section {
	margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.entity-container {
	width: 18%;
    margin: 10px;
    border: 1px solid lightblue;
    border-radius: 6px;
}

.entity-content {
	padding: 0px 10px 10px;
}

.entity-container:hover {
	box-shadow: 2px 2px lightblue;
	background-color: #EEF2F2;
}

.entity-card-image {
	background-size: cover;
    background-repeat: no-repeat;
}

.entity-title {
	text-align: center;
}

@media only screen and (max-width: 1620px) {
	.entity-container {
	width: 23%;

	}
}

@media only screen and (max-width: 1340px) {
	.entity-container {
	width: 31%;

	}
}

@media only screen and (max-width: 950px) {
	.entity-container {
	width: 45%;

	}
}

@media only screen and (max-width: 500px) {
	.entity-container {
	width: 65%;

	}
}

@media only screen and (max-width: 390px) {
	.entity-container {
	width: 87%;

	}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(to left, #4364f7, #6fb1fc);
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background: linear-gradient(to right, #4364f7, #6fb1fc);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
}